{% extends 'emails/base.html' %}
{% block content %}

<div class="row">
	<div class="col-sm-12 col-md-5  col-lg-offset-1 col-lg-5 ">
		<div class="indexcontainer">
			<h1 align="center"> Society Acronyms </h1>
			<h4 align="center"> Type the acronym of a Cambridge society </h4>
					{% if Acronym %}
					<select id="select-name" placeholder="Select a person..." >
					{% for item in Acronym %}
						<option value="{{item.name_only}}">{{item.name}}
					{% endfor %}
					</select>
					</select>
				<form role="form" id="contacts">
                	<input type="submit" value="See events" class="btn btn-info btn-block"></form>
					{% else%}
					<strong> There are no societies loaded</strong>
				{% endif %}
			
		</div>
	</div>

	<div class="col-sm-12 col-md-5 col-lg-5 ">
		<div class="indexcontainer">
			<h1 align="center"> Translation </h1>
			<h4 align="center"> Type the word to see its meaning</h4>
					{% if Translation %}
					<select id="select-item" placeholder="Select a person..." >
					{% for item in Translation %}
						<option value="{{item.translation_item}}">{{item.translation_item}}
					{% endfor %}
					</select>
					</select>
				
					{% else%}
					<strong> There are no items loaded</strong>
				{% endif %}
			
		</div>
	</div>
</div>


<script>

$(function() {
    $('#select-name').selectize({    create:true, plugins: ['remove_button']
});

  $('#contacts').submit(function(e){
    e.preventDefault();

 window.location.href = "http://joinagora.com/events/"
   
  });
});

</script>
<script>

$(function() {
    $('#select-item').selectize({    create:true, plugins: ['remove_button']
});

  $('#contacts').submit(function(e){
    e.preventDefault();

 window.location.href = "http://joinagora.com/events/"
   
  });
});

</script>
{% endblock %}

<!--"http://joinagora.com/events/#search/all?s="+($('#select-name').val()-->